.spot-details-container {
  display: flex;
  flex-direction: column;
  border: 3px solid lightgray;
  margin: auto;
  width: 66%;
  gap: 1em;
}

.spot-details-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  gap: 0.5em;
}

.spot-details-title {
  font-size: 22px;
}

.spot-details-subtitle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.spot-details-image-list {
  display: flex;
  gap: .75%;
  box-sizing: border-box;
}

.spot-details-image-list > img {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-height: 300px;
  max-width: 400px;
  border-radius: 10px;
}

.spot-details-description {
  display: flex;
}

.spot-owner-div {
  display: flex;
  justify-content: flex-start;
}

.spot-owner-links {
  text-decoration: none;
  color: white;
  background-color: #ff385c;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}


