.spot-details-outer-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1700px;
  width: 80%;
}

.spot-details-container {
  display: flex;
  flex-direction: column;
  /* border: 3px solid lightgray; */
  gap: 1em;
}

.spot-details-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  gap: 0.5em;
}

.spot-details-title {
  font-size: 22px;
  font-weight: 600;
}

.spot-details-subtitle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}

.spot-details-stars {
  font-weight: bold;
  margin-bottom: 2px;
  margin-right: -5px;
}

.spot-details-location {
  margin-left: 10px;
}

.spot-details-image-list {
  display: flex;
  gap: .75%;
  box-sizing: border-box;
  max-height: 400px;
}

.spot-details-image-list > img {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 45%;
  border-radius: 10px;
}

.spot-details-description {
  display: flex;
  color: #827b7e;
}

.spot-owner-div {
  display: flex;
  justify-content: flex-start;
}

.spot-owner-links {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  background-color: #e21b5f;
  padding: 10px;
  border-radius: 5em;
  margin: 5px;
  width: 150px;
}

.spot-owner-links:hover {
  box-shadow: 2px 2px 3px lightslategray;
}

.create-new-review-box {
  margin: 30px auto;
}

.create-new-review-link {
  text-decoration: none;
  color: white;
  background-color: #e21b5f;
  border-radius: 15px;
  padding: 10px;
}
