/* CONTAINERS */

.spot-page-outer-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1700px;
  width: 80%;
  gap: 55px;
}

.spot-page-section-1 {
  display: flex;
  flex-direction: column;
  border: 3px solid green;
  gap: 1em;
  width: 100%;
}

.spot-page-section-2 {
  width: 100%;
  border: 3px solid red;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
}

.spot-page-section-2-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  border: 3px solid yellow;
}

.spot-page-section-2-right {
  width: 50%;
  border: 3px solid orange;
  display: flex;
  justify-content: center;
}

.spot-page-section-3 {
  width: 100%;
  border-top: 1px solid #ebebeb;
  /* border: 3px solid blue; */
}

.spot-page-section-4 {
  width: 100%;
  border: 3px solid purple;
  display: flex;
  flex-direction: column;
  gap: 20px;
}



.spot-page-box {
  padding: 20px 0;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  flex-direction: column;
}

/* TOP CONTAINER */

.spot-details-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  gap: 0.5em;
}

.spot-details-title {
  font-size: 22px;
  font-weight: 600;
}

.spot-details-subtitle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}

.spot-details-stars {
  font-weight: bold;
  margin-bottom: 2px;
  margin-right: -5px;
}

.spot-details-location {
  margin-left: 10px;
}

.spot-details-image-list {
  display: grid;
  grid-template-areas: 
  "img1 img1 img2 img3"
  "img1 img1 img4 img5";
  gap: 10px;
  box-sizing: border-box;
  max-height: 400px;
}

.spot-details-image-list > img {
  object-fit: cover;
  width: 100%;
}

.spot-details-image-list > img:nth-child(1) {
  grid-area: img1;
  height: 400px;
  border-radius: 18px 0 0 18px;
}

.spot-details-image-list > img:nth-child(2) {
  grid-area: img2;
  height: 195px;
}

.spot-details-image-list > img:nth-child(3) {
  grid-area: img3;
  height: 195px;
  border-radius: 0 18px 0 0;
}

.spot-details-image-list > img:nth-child(4) {
  grid-area: img4;
  height: 195px;
}

.spot-details-image-list > img:nth-child(5) {
  grid-area: img5;
  height: 195px;
  border-radius: 0 0 18px 0;
}

.spot-details-description {
  display: flex;
  color: #827b7e;
}

/* Section 2 contains spot details on the left.
The right conditionally render either:
1. Buttons to edit or delete the spot if the user is the owner
2. The datepicker to create a booking if the user is not the owner
*/

.spot-page-section-2-right-owner-container {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  max-height: 400px;
}

.create-new-review-box {
  margin: 30px auto;
}

.create-new-review-link {
  text-decoration: none;
  color: white;
  background-color: #e21b5f;
  border-radius: 15px;
  padding: 10px;
}

.create-new-review-link:hover {
  box-shadow: 2px 2px 3px lightslategray;
}
