/* CONTAINERS */

.spot-page-outer-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1700px;
  width: 80%;
  gap: 30px;
}

.spot-page-section-1 {
  display: flex;
  flex-direction: column;
  border: 3px solid green;
  gap: 1em;
  width: 100%;
}

.spot-page-section-2 {
  width: 100%;
  border: 3px solid red;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
}

.spot-page-section-2-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  border: 3px solid yellow;
}

.spot-page-section-2-right {
  width: 50%;
  border: 3px solid orange;
  display: flex;
  justify-content: center;
}

.spot-page-section-3 {
  width: 100%;
  border: 3px solid blue;
}

.spot-page-box {
  padding: 20px 0;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  flex-direction: column;
}

/* TOP CONTAINER */

.spot-details-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  gap: 0.5em;
}

.spot-details-title {
  font-size: 22px;
  font-weight: 600;
}

.spot-details-subtitle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}

.spot-details-stars {
  font-weight: bold;
  margin-bottom: 2px;
  margin-right: -5px;
}

.spot-details-location {
  margin-left: 10px;
}

.spot-details-image-list {
  display: flex;
  gap: .75%;
  box-sizing: border-box;
  max-height: 400px;
}

.spot-details-image-list > img {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 45%;
  border-radius: 10px 0 0 10px;
}

.spot-details-description {
  display: flex;
  color: #827b7e;
}

.spot-owner-div {
  display: flex;
  justify-content: flex-start;
}

/* MIDDLE SECTION */

.spot-owner-links {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  background-color: #e21b5f;
  padding: 10px;
  border-radius: 5em;
  margin: 5px;
  width: 150px;
}

.spot-owner-links:hover {
  box-shadow: 2px 2px 3px lightslategray;
}

.create-new-review-box {
  margin: 30px auto;
}

.create-new-review-link {
  text-decoration: none;
  color: white;
  background-color: #e21b5f;
  border-radius: 15px;
  padding: 10px;
}

.create-new-review-link:hover {
  box-shadow: 2px 2px 3px lightslategray;
}
