.delete-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.delete-page-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2%;
  gap: 5%;
}

.confirm-delete-button {
  background-color: #ff385c;
  height: 50px;
  width: 250px;
  border-radius: 15px;
  font-size: 15px;
  border: none;
  color: white;
}

.confirm-delete-button:hover {
  box-shadow: 1px 1px black;
  background-color: #ff385c;
  cursor: pointer;
}

.abort-delete-button {
  background-color: white;
  height: 50px;
  width: 250px;
  border-radius: 15px;
  font-size: 15px;
  border: 1px solid black;
}

.abort-delete-button:hover {
  background-color: #f7f7f7;
  box-shadow: .5px 1px;
  cursor: pointer;
}
