.create-review-form {
  margin: 10px auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 3%;
}

.create-review-form-greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 10px auto 30px auto;
}

.create-review-error {
  margin-bottom: 10px;
}

.form-instructions {
  font-size: 14px;
  width: 75%;
}

.create-review-textarea {
  margin-top: 10px;
  resize: none;
  width: 75%;
  height: 200px;
  border-radius: 5px;
  font-size: 15px;
}

.create-review-textarea:hover {
  box-shadow: 1px 1px 2px lightgray;
}

.create-review-stars {
  width: 75%;
  height: 40px;
}

.review-stars-dropdown {
  width: 100%;
  height: 50px;
  font-size: 16px;
  border-radius: 5px;
}

.submit-review-button {
  background-color: white;
  border: 1px solid black;
  border-radius: 7px;
  margin-top: 40px;
  padding: 7px 15px;
  color: black;
}

.submit-review-button:hover {
  background-color: #f4f4f4;
}

.rating-radio {
  display: none;
}
