.spot-review-container {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  border-top: 1px solid lightgray;
}

.spot-review-ratings {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.spot-review-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20%;
  justify-content: space-evenly;
}

.spot-review-details-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
}

.spot-review-overview {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-sizing: border-box;
  
}

.spot-review-stars {
  margin-top: -3px;
}

.spot-review-text {
  height: 70px;
}

.review-delete-button {
  background-color: #f7f7f7;
  border: none;
  border-radius: 15px;
  font-size: 14px;
}

.review-delete-button:hover {
  box-shadow: 1px 1px 0.5px lightgray;
  border: 1px solid lightgray;
}
