.update-reservation-box {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.update-reservation-box-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.update-calendar-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.update-booking-errors-container {
  display: flex;
  margin: 10px auto;
  justify-content: center;
}
