.edit-spot-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 66%;
  margin: auto;
  margin-top: 2%;
}

.edit-spot-form-greeting {
  margin-bottom: 30px;
  font-size: 24px;
}

#edit-spot-form-textarea {
  width: 99.5%;
  border-radius: 5px;
  height: 50px;
  padding: 2px;
  border: 1px solid lightgray;
}

#edit-spot-form-textarea:hover {
  box-shadow: 1px 1px 2px lightgray;
}

.edit-spot-button {
  text-decoration: none;
  color: white;
  background-color: #e21b5f;
  border-radius: 15px;
  padding: 10px;
  width: 200px;
  border: none;
  font-size: 15px;
  margin-top: 15px;
}

.edit-spot-button:hover {
  box-shadow: 2px 2px 3px lightslategray;
  background-color: #e21b5f;
}
