#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  z-index: 9999;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

#modal-content {
  position: absolute;
  top: 5%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2%;
  justify-content: space-between;
  align-items: center;
  border-radius: 1em;
  border: 1px solid rgba(211, 211, 211, 0.6)
}

#modal-content textarea {
  resize: none;
}

