.reservation-box {
  background-color: white;
  height: 270px;
  width: 70%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
  gap: 5px;
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
}

.reservation-box-header {
  display: flex;
  justify-content: space-between;
}

.reservation-box-footer-prices {
  margin-top: 3px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
