.user-page-container {
  width: 90%;
  margin: auto;
}

.user-spots-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 100%;
  flex-wrap: wrap;
  padding-left: 0;
  max-height: 95%;
}

.user-spot-links {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  background-color: #e21b5f;
  padding: 10px;
  border-radius: 15px;
  flex: 1 1 25px;
}

.user-spot-links:hover {
  box-shadow: 1px 2px 3px lightslategray;
}



