.user-page-container {
  display: flex;
  width: 75%;
  flex-direction: column;
  margin: auto;
  align-items: flex-start;
  flex-wrap:wrap;
}

.user-spot-links {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  color: white;
  background-color: #ff385c;
  padding: 10px;
  border-radius: 5px;
  width: 135%;
  flex: 1 1 25px;
}

.user-spots-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-wrap: wrap;
  padding-left: 0;
  max-height: 95%;
}

