.fa-house {
  color: white;
  background-color: #ff385c;
  font-size: 22px;
  padding: 12px;
  border-radius: 50%;
  opacity: 1;
}

.fa-house::after {
  content: "\005E";
  position: absolute;
  top: 35px;
  color: #ff385c;
  left: 18px;
  background-color: none;
  transform: rotate(180deg);
}
