.fa-house {
  color: white;
  background-color: #ff385c;
  font-size: 22px;
  padding: 12px;
  border-radius: 50%;
  opacity: 1;
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
