#become-host-button {
  background-color: white;
  border: none;
  border-radius: 15px;
  font-size: 15px;
  padding: 10px;
}

#become-host-button:hover {
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}
