/* Form Boxes */

.create-spot-form-container {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 80%;
}

.create-spot-form {
  display: grid;
  grid-template-areas:
    "header errors"
    "box1 box2"
    "button button";
  gap: 15px;
  padding: 10px 40px;
  font-family: sans-serif;
  width: 100%;
}

.create-spot-form-header {
  grid-area: header;
}

.create-spot-form-errors {
  grid-area: errors;
  color: red;
}

.create-spot-form-left {
  grid-area: box1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.create-spot-form-right {
  grid-area: box2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.create-spot-form-empty {
  grid-area: empty;
}

.create-spot-form-button {
  grid-area: button;
  justify-content: center;
  display: flex;
}

/* Inputs, textareas, buttons */

.create-spot-form-textarea {
  border: 1px solid lightgray;
  width: 100%;
  border-radius: 5px;
  height: 100px;
}

.create-spot-form-price-input {
  border: 1px solid lightgray;
  width: 20%;
  border-radius: 5px;
  height: 34px;
}

.create-spot-form-image-input {
  width: 50%;
  border-radius: 5px;
  height: 34px;
  display: flex;
  flex-direction: column;
}

input[type=file]::file-selector-button {
  margin-top: 4px;
  background: white;
  height: 30px;
  width: 100%;
  cursor: pointer;
  align-self: center;
  justify-self: center;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  font-weight: bold;
}

input[type=file] {
  border: none;
  color: transparent;
}

input[type=file]:hover {
  border: none;
  box-shadow: none;
}


#create-spot-button {
  background-color: #ff385c;
  color: white;
  border: none;
  height: 40px;
  border-radius: 10%;
}

#create-spot-button:hover {
  background-color: lightgrey;
}
