.landing-page-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 95%;
  max-width: 1600px;
  margin: 0 auto;
  list-style: none;
  padding: 40px;
  gap: 25px;
}

@media screen and (max-width: 1080px) {
  .landing-page-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .landing-page-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.spot-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  height: 370px;
  width: 100%;
  flex: 1 0 auto;
  text-decoration: none;
}

.spot-card-details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.spot-card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: black;
  margin-top: 10px;
}

.spot-card-location {
  font-weight: 600;
  
}

.spot-card-rating {
  font-size: 16px;
  margin-top: -5px;
}

.spot-card-details {
  display: flex;
  flex-direction: column;
  width: fit-content;
  color: grey;
}

.spot-card-image-box {
  display: flex;
  justify-content: center;
}

.spot-card-image {
  height: 260px;
  width: 100%;
  border-radius: 3%;
  box-sizing: border-box;
  object-fit: cover;
}

.spot-card-footer {
  color: black;
}

.spot-card-name {
  margin-bottom: 5px;
}
.spot-card-price {
  font-weight: bold;
}


