/* TODO Add site wide styles */
body {
  font-family: Helvetica, sans-serif;
}

button:hover {
  background-color: #f7f7f7;
}

body::before {
  display:block;
  content: '';
  height: 7em;
}

.form-error {
  color: #ff385c;
  list-style: none;
}

input {
  border: 1px solid lightgray;
  height: 25px;
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
}

input:hover {
  box-shadow: 1px 1px 2px lightgray;
}

label {
  color: lightslategray;
  font-size: 15px;
  width: 100%;
}

.form-textarea {
  border: 1px solid lightgray;
}

#modal-content {
  display: flex;
  flex-direction: column;
  padding: 2%;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 5px;
  border: 1px solid rgba(211, 211, 211, 0.6)
}

#modal-content button {
  background-color: #e21b5f;
  color: white;
  border-radius: 15px;
  border: none;
  height: 40px;
  width: 200px;
  margin-top: 25px;
}

#modal-content button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 3px lightslategray;
}

#modal-content textarea {
  resize: none;
}

form {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
