/* TODO Add site wide styles */
body {
  font-family: Helvetica, sans-serif;
}

button:hover {
  background-color: #f7f7f7;
}

body::before {
  display:block;
  content: '';
  height: 7em;
}

.form-error {
  color: #ff385c;
  list-style: none;
  font-size: 15px;
}

input {
  border: 1px solid lightgray;
  height: 30px;
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
}

input:hover {
  box-shadow: 1px 1px 2px lightgray;
}

label {
  display: flex;
  flex-direction: column;
  color: lightslategray;
  font-size: 14px;
  width: 100%;
  
}

.form-textarea {
  border: 1px solid lightgray;
}

.error-list-item {
  font-size: 11pt;
}

form {
  width: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  font-family: sans-serif;
  resize: none;
}
