/* TODO Add site wide styles */
body {
  font-family: Helvetica, sans-serif;
}

button:hover {
  background-color: #f7f7f7;
}

body::before {
  display:block;
  content: '';
  height: 50px;
}

.form-error {
  color: #ff385c;
  list-style: none;
}

.form-input {
  border: 1px solid lightgray;
}

.form-textarea {
  border: 1px solid lightgray;
}
