/* TODO Add site wide styles */


html {
  overflow-y: scroll;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
}

body::before {
  display:block;
  content: '';
  height: 7em;
}

.form-error {
  color: #ff385c;
  list-style: none;
  font-size: 13px;
}

.form-error::before {
  content: "! ";
  color: #ff385c;
}

input {
  border: 1px solid lightgray;
  height: 30px;
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
}

input:hover {
  box-shadow: 1px 1px 2px lightgray;
}

label {
  display: flex;
  flex-direction: column;
  color: lightslategray;
  font-size: 14px;
  width: 100%;
  
}

.form-textarea {
  border: 1px solid lightgray;
}

.error-list-item {
  font-size: 11pt;
}

form {
  width: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  font-family: sans-serif;
  resize: none;
}

.bold {
  font-weight: bold;
}

.submit-button {
  background-color: #ff385c;
  color: white;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  margin-top: 10px;
  font-size: 14px;
}

.action-button {
  background-color: white;
  color: black;
  border: none;
  border-radius: 15px;
  border: 2px solid #bebebe;
  padding: 5px 10px;
  width: 80%;
  height: 32px;
  font-size: 14px;
  transition: all 150ms ease-in-out;
  font-size: 14px;
}

.action-button:hover {
  background-color: #ff385c;
  border: 2px solid #ff385c;
  color: white;
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
}
