.spot-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1700px;
  margin: auto;
}

.spot-card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
  justify-content: center;
  place-items: center;
  gap: .5%;
  list-style: none;
}

.spot-card-info {
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  flex-direction: column;
  margin: 0 10px;
  height: 400px;
  width: 300px;
  flex: 1 0 auto;
}

.spot-card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  color: black;
  height: 45px;
}

.spot-card-details {
  display: flex;
  flex-direction: column;
  width: fit-content;
  color: grey;
}

.spot-card-image-box {
  display: flex;
  justify-content: center;
}

.spot-card-image {
  height: 260px;
  width: 100%;
  border-radius: 3%;
  box-sizing: border-box;
  margin-bottom: -10px;
}

.spot-card-footer {
  color: black;
}

.spot-card-name {
  margin-bottom: 5px;
}
.spot-card-price {
  font-weight: bold;
}

.spot-card-link {
  text-decoration: none;
  align-self: flex-start;
}
