.spot-card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
  justify-content: space-evenly;
  gap: 5%;
  list-style: none;
}

.spot-card-box {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.spot-card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  color: black;
}

.spot-card-details {
  display: flex;
  flex-direction: column;
  width: fit-content;
  color: grey;
}

.spot-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 75%;
  margin: auto;
}

.spot-card-image-box {
  display: flex;
  justify-content: center;
}

.spot-card-image {
  height: 325px;
  width: 350px;
  border-radius: 3%;
  box-sizing: content-box;
}

.spot-card-info {
  display: flex;
  border: 1px solid black;
  padding: 10px;
  box-sizing: border-box;
  flex-direction: column;
  flex: 1 0 100%;
}

.spot-card-footer {
  color: black;
}
.spot-card-price {

  font-weight: bold;
}

.spot-card-link {
  text-decoration: none;
}
