.spot-card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.spot-card-details {
  display: flex;
  flex-direction: column;
  width: fit-content;
  color: grey;
}

.spot-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 75%;
  margin: auto;
}

.spot-card-image {
  height: 325px;
  width: 350px;
}

.spot-card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5%;
  list-style: none;
  padding: 5px;
  box-sizing: border-box;
}

.spot-card-info {
  display: flex;
  border: 1px solid black;
  padding: 10px;
  box-sizing: border-box;
  flex-direction: column;
  flex: 1 0 100%;
}

.spot-card-price {
  color: black;
}

.spot-card-link {
  text-decoration: none;
}
