.signup-form {
  width: 320px;
  display: flex;
  flex-direction: column;
  padding: 2%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

#signup-button {
  background-color: white;
  border: none;
  font-size: 18px;
}

#signup-button:hover {
  cursor: pointer;
  background-color: #f7f7f7;
  border-radius: 15px;
}




