.top-navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  position: fixed;
  padding-bottom: 10px;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: white;
}

#app-name {
  color: #ff385c;
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
  font-family: Roboto, Helvetica Neue, sans-serif;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}


