.top-navbar {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 9000;
  top: 0;
  left: 0;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr 1fr;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2)
}

.navbar-left {
  display: flex;
  justify-content: center;
}

#logo {
  height: 50px;
}

#app-name {
  color: #ff385c;
  text-decoration: none;
  font-size: xx-large;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

#logout-button {
  background-color: white;
  border: none;
  font-size: 16px;
}

