.profile-dropdown {
  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
  top: 45px;
  right: 6%;
  background-color: white;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  z-index: 9999;
  border: 1px solid #efefef
}

#profile-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: 2px solid #efefef;
  width: 75px;
  height: 40px;
  border-radius: 15px;
  box-shadow: .5px 1px #efefef;
}

.manage-account-link {
  text-decoration: none;
  color: black;
  box-sizing: border-box;
}
