#profile-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: white;
  border: 1.5px solid #efefef;
  width: 75px;
  height: 40px;
  border-radius: 15em;
  box-shadow: .5px 1px #efefef;
}

#profile-button:hover {
  box-shadow: 1px 1px 3px lightgray;
  cursor: pointer;
}

#profile-bars {
  box-sizing: border-box;
  color: #717171;
  font-size: 16px;
}

#profile-pic {
  font-size: 26px;
  margin-left: 10px;
  color: #717171;
}


/* Dropdown Menu */

.profile-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  right: 6.5%;
  background-color: white;
  justify-content: center;
  align-items: flex-start;
  z-index: 9000;
  border: 1px solid #efefef;
  box-shadow: 1px 1px 3px lightgray;
  border-radius: .5em;
  width: 14%;
  padding: 10px 0;
}

.manage-account-link {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  font-size: 15px;
  padding: 10px;
  width: 100%;
  transition: 100ms background linear;
  font-family: system-ui, -apple-system, 'Segoe UI', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
}

.manage-account-link:hover {
  background: #f7f7f7;
}

#logout-button {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  font-size: 15px;
  padding: 10px;
  width: 100%;
  transition: 100ms background linear;
  background-color: white;
  border: none;
  font-family: system-ui, -apple-system, 'Segoe UI', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;;
}

#logout-button:hover {
  background: #f7f7f7;
}
