.login-form {
  min-width: 500px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.auth-form-header {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ebebeb;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 20px;
}

.auth-form-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #ebebeb;
  border-radius: 10px;
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-container:focus-within label {
  position: absolute;
  pointer-events: none;
  transform-origin: top left;
  transform: translate(0, 6px) scale(0.75);
  color: #ff385c;
  transition: 200ms all ease-out 0ms;
  margin-left: 5px;
}

.filled {
  position: absolute;
  pointer-events: none;
  transform-origin: top left;
  transform: translate(0, 6px) scale(0.75);
  color: #ff385c;
  transition: 200ms all ease-out 0ms;
  left: 16px;
}

.not-filled {
  position: absolute;
  pointer-events: none;
  transform: translate(0, 10px) scale(1);
  transform-origin: top left;
  transition: 200ms all ease-out 0ms;
  color: #818181;
  font-size: 16px;
  left: 16px;
}


.auth-form-input-top {
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #ebebeb;
}

.auth-form-input-bottom {
  border-top: 1px solid #ebebeb;
  border-radius: 0 0 10px 10px;
}

.auth-form-input-top,
.auth-form-input-bottom {
  height: 55px;
  padding-top: 16px;
  padding-left: 20px;
}

.auth-form-input-top:focus,
.auth-form-input-bottom:focus {
  border-radius: 10px;
  border: 1px solid #ff385c;
}

.login-form-button {
  border-radius: 10%;
  padding: 0 3%;
}

.form-label {
  padding: 2%;
  margin: 5px 0 10px 0;
}

#login-error {
  list-style: none;
  color: #ff385c;
}

#login-button {
  background-color: white;
  border: none;
  font-size: 18px;
}

#login-button:hover {
  cursor: pointer;
  background-color: #f7f7f7;
  border-radius: 15px;
}
