.login-form {
  width: 66%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.form-input {
  padding: 1%;
}

.login-form-button {
  border-radius: 10%;
  padding: 0 3%;
}

.form-label {
  padding: 2%;
  margin: 5px 0 10px 0;
}

#login-error {
  list-style: none;
  color: #ff385c;
}

#login-button {
  background-color: white;
  border: none;
  font-size: 18px;
}

#login-button:hover {
  cursor: pointer;
  background-color: #f7f7f7;
  border-radius: 15px;
}
